<section id="each-event-page">
  <div class="container-fluid" >
    <div class="row">
      <h1><%=@event.title%></h1>
      <div class="col-md-12">
        <div class="col-md-6">
          <img src="<%='/event_pics/'+@event.image%>" alt="<%=@event.title.capitalize%>">
        </div>
        <div class="col-md-6">
            <p><%=@event.description%></p>
            <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3">
                <button type="button" name="button" class="btn btn-primary">Click Here To Register</button>
            </div>
        </div>

      </div>
    </div>
  </div>

</section>
