<header>

  <div class="container-fluid">
    <div class=" outer">
      <div class=" center">
        <h1>Nexus'18</h1>
        <span>& chill...</span>
      </div>
    </div>
    <div id="timer-container">
      <h1>Premiering in...</h1>

      <div id="timer">
        <div id="days"></div>
        <div id="hours"></div>
        <div id="minutes"></div>
        <div id="seconds"></div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
  <img src="/white-gradient.png" alt="">
</header>
<div class="container-fluid">
  <section id="events-index">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <div class="seperator">
          <span class="outer-line"></span>
          <svg aria-hidden="true" data-prefix="far" data-icon="tv-retro" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-tv-retro fa-w-16 fa-2x"><path fill="currentColor" d="M400 244v-8c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12zm12 76h8c6.6 0 12-5.4 12-12v-8c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12zm-36-136.5s-1.5-7.5-144-7.5-144.5 7.5-144.5 7.5S80 184 80 288s7.5 104.5 7.5 104.5S88 400 232 400s144-7.5 144-7.5 7.5-.5 7.5-104.5-7.5-104.5-7.5-104.5zM512 144v288c0 26.5-21.5 48-48 48h-16v32h-48l-10.7-32H122.7L112 512H64v-32H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h140.9l-54-55.2c-9.3-9.5-9.1-24.7.3-33.9 9.5-9.3 24.7-9.1 33.9.3L256 96l86.9-88.8c9.3-9.5 24.5-9.6 33.9-.3 9.5 9.3 9.6 24.5.3 33.9l-54 55.2H464c26.5 0 48 21.5 48 48zm-48 0H48v288h416V144z" class=""></path></svg>

          <span class="outer-line"></span>

        </div>

      </div>
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <h1>Events</h1>
        <div id="events-carousel" class="carousel">
          <%@events.each do |event|%>
          <div style="background-image:url('/event_pics/cards/<%=event.image%>'); cursor: pointer;" onclick="window.location='/<%=event.id%>';"><h2><%=event.title%></h2></div>
          <%end%>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <h3><a href="/events">See All Events... </a> </h3>
      </div>
    </div>
  </section>

  <section id="sponsors-index">
    <div class="row">
      <div class="seperator">
        <span class="outer-line"></span>
        <svg aria-hidden="true" data-prefix="far" data-icon="tv-retro" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-tv-retro fa-w-16 fa-2x"><path fill="currentColor" d="M400 244v-8c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12zm12 76h8c6.6 0 12-5.4 12-12v-8c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12zm-36-136.5s-1.5-7.5-144-7.5-144.5 7.5-144.5 7.5S80 184 80 288s7.5 104.5 7.5 104.5S88 400 232 400s144-7.5 144-7.5 7.5-.5 7.5-104.5-7.5-104.5-7.5-104.5zM512 144v288c0 26.5-21.5 48-48 48h-16v32h-48l-10.7-32H122.7L112 512H64v-32H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h140.9l-54-55.2c-9.3-9.5-9.1-24.7.3-33.9 9.5-9.3 24.7-9.1 33.9.3L256 96l86.9-88.8c9.3-9.5 24.5-9.6 33.9-.3 9.5 9.3 9.6 24.5.3 33.9l-54 55.2H464c26.5 0 48 21.5 48 48zm-48 0H48v288h416V144z" class=""></path></svg>

        <span class="outer-line"></span>

      </div>
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <h1>Our Sponsors...</h1>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/1.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/2.jpg" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/12.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/11.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/10.jpg" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/9.jpg" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/8.jpg" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/7.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/6.jpeg" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/5.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/4.png" alt="" class="sponsor-image">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/sponsors/3.png" alt="" class="sponsor-image">
        </div>

      </div>
    </div>

  </section>
  <br>
  <br><br><br><br><br>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#events-carousel').slick({
    centerMode: true,
    centerPadding: '10px',
    slidesToShow: 3,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          dots: true,
          centerMode: true,
          centerPadding: '4px',
          slidesToShow: 1
        }
      }
    ]


  });
});
</script>
