@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

div#timer-container{
  h1{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 6vw;
  }
  position: absolute;
  top: 47vh;
  left: -15px;
  z-index: 1;
  text-align: center;
  padding-top: 50px;


}

div#timer{
  width: 100vw;
  #days {
    font-size: 12.625vw;
    color: #db4844;
  }
  #hours {
    font-size: 11.71875vw;
    color: #f07c22;
  }
  #minutes {
    font-size: 7.8125vw;
    color: rgba(160, 141, 71,1);
  }
  #seconds {
    font-size: 3.90625vw;
    color: #abcd58;
  }
  font-family: 'Covered By Your Grace', cursive;
  display: inline-block;
  line-height: 1;
  padding: 0px;
  font-size: 40px;
  div{
    text-align: center;
    display: inline-block;
    line-height: 1;
    padding: 13px;
    font-size: 40px;
  }
  span {
    display: block;
    font-size: 20px;
    color: black;
  }

}
