<!DOCTYPE html>
<html class="csstransforms3d">
<head>
  <title>Nexus18</title>
  <%= csrf_meta_tags %>
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon -->
  <link rel="shortcut icon" href="/logo.png">
  <!-- jquery -->
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- slick-css -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <!-- animate css -->
  <link rel="stylesheet" href="/animate.css">
  <!-- covered by your grace font style -->
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">

  <!-- slick-js -->
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- bootstrap css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- bootstrap js -->
  <!-- bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- smooth scroll -->
  <script src="/dist/js/smooth-scroll.js"></script>
  <!-- font-awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div id="preloader">
    <div id="loader">
    </div>
  </div>

  <div class="responsive_content">
    <header id="responsive_view_header">
      <div id="responsive_side_nav_button">
        <input type="checkbox" id="responsive_side_nav_button_font" />
        <label for="responsive_side_nav_button_font" class="responsive_menu_icon" >
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
        <nav id="overlay_responsive_header">
          <ul>
            <li> <a href="/"> Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/our-team">Our Team</a></li>
            <li><a data-scroll href="/#sponsors-index">Our Sponsors</a></li>
            <li> <a href="https://www.facebook.com/nexus.svc">  <i class="fab fa-facebook-f"></i> </a>
              <a href="https://twitter.com/nexus_svc?lang=en">   <i class="fab fa-twitter"></i> </a>
              <a href="https://www.instagram.com/nexus_svc/"> <i class="fab fa-instagram"></i></a>   </li>
            </ul>
          </nav>
        </div>
        <div id="responsive_logo">
          <h1>N <span style="color:rgba(241,75,56,1)">.</span>
            E <span style="color:rgba(1,177,241,1)">.</span>
            X <span style="color:rgba(244,201,60,1)">.</span>
            U <span style="color:rgba(241,75,56,1)">.</span>
            S <span style="color:rgba(244,201,60,1)">.</span>
            ' 1 8</h1>
          </div>
        </header>
      </div>
      <nav id="desktop-view-of-header">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <ul class="main-header-list">
                <li> <a href="/"> Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/our-team">Our Team</a></li>
                <li><a data-scroll href="/#sponsors-index">Our Sponsors</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/logo.png" alt="">
            </div>
            <div class="col-md-4">
              <ul class="main-header-list">
                <li> <a href="https://www.facebook.com/nexus.svc">  <i class="fab fa-facebook-f"></i> </a></li>
                <li> <a href="https://twitter.com/nexus_svc"><i class="fab fa-twitter"></i></a> </li>
                <li> <a href="https://www.instagram.com/nexus_svc/"> <i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <%= yield %>
      <footer>
        <p>Site by  <a href="https://www.linkedin.com/in/pranav-singhal-a157b3143/" target="_blank"> Pranav Singhal</a> & Harshit Singhal</p>

        <p>Special Thanks to Usama Sajid</p>

      </footer>
    </body>
    </html>
